/Debug
/Debug - Console
/Release

/graphplay/Debug
/graphplay/Debug - Console
/graphplay/Release

/graphplay-test/Debug

/vendor/gtest/gtest/Debug
/vendor/gtest/gtest_main/Debug

/build
/msvc
/mingw

*.sdf
*.suo
*.opensdf
*.d
*.o
*.blend1
gmon.out
/graphplay/graphplay
/graphplay/graphplay.exe
/graphplay-test/graphplay-test
/graphplay-test/graphplay-test.exe

!/glew.dll
!/glfw3.dll

# Eclipse / CMake garbage.
.project
.cproject
CMakeFiles
Makefile
*.cmake
CMakeCache.txt
config.h

# Mac garbage.
.DS_Store
