/build
/mingw

msvc/Debug
msvc/glad/Debug
msvc/graphplay/Debug
msvc/graphplay_engine/Debug
msvc/tinyxml2/Debug

*.sdf
*.suo
*.opensdf
*.d
*.o
*.blend1
*.VC.db
*.VC.VC.opendb
gmon.out
/graphplay/graphplay
/graphplay/graphplay.exe
/graphplay-test/graphplay-test
/graphplay-test/graphplay-test.exe

!/glew.dll
!/glfw3.dll

# Eclipse / CMake garbage.
.project
.cproject
CMakeFiles
Makefile
*.cmake
CMakeCache.txt
config.h

# Mac garbage.
.DS_Store

/assets/*.pcn

# Allow the main forwarding Makefile.
!/Makefile

# XCode stuff.
## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
