*.sdf
*.suo
*.log
*.user

/Debug/graphplay.exe

*.ilk
*.pdb
*.opensdf
*.obj
*.tlog
*.lastbuildstate
*.idb
/Release/graphplay.exe

*.o
*.d
*.d.*
/graphplay/graphplay

/graphplay/Debug/*.unsuccessfulbuild

/Debug - Console/graphplay.exe

*.unsuccessfulbuild
